<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
 
</head>

<body>
     <div id="wrapper">
    {{> navigation}}
   

       
       
    

    <!--section one -->
   
    {{> footer}}

    </div>
</body>

</html>